/*!
 * Theme-aware Prism.js styles for MarkRead
 * Switches between light and dark themes based on [data-theme] attribute
 * Includes: Core styles, Line Numbers plugin, and Toolbar/Copy plugin
 */

/* ====================
   BASE STYLES (Common)
   ==================== */

code[class*="language-"],
pre[class*="language-"] {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

/* ====================
   LIGHT THEME
   ==================== */

[data-theme="light"] code[class*="language-"],
[data-theme="light"] pre[class*="language-"] {
    color: #000;
    text-shadow: 0 1px white;
}

[data-theme="light"] pre[class*="language-"],
[data-theme="light"] :not(pre) > code[class*="language-"] {
    background: #f5f2f0;
}

[data-theme="light"] .token.comment,
[data-theme="light"] .token.prolog,
[data-theme="light"] .token.doctype,
[data-theme="light"] .token.cdata {
    color: slategray;
}

[data-theme="light"] .token.punctuation {
    color: #999;
}

[data-theme="light"] .token.namespace {
    opacity: 0.7;
}

[data-theme="light"] .token.property,
[data-theme="light"] .token.tag,
[data-theme="light"] .token.boolean,
[data-theme="light"] .token.number,
[data-theme="light"] .token.constant,
[data-theme="light"] .token.symbol,
[data-theme="light"] .token.deleted {
    color: #905;
}

[data-theme="light"] .token.selector,
[data-theme="light"] .token.attr-name,
[data-theme="light"] .token.string,
[data-theme="light"] .token.char,
[data-theme="light"] .token.builtin,
[data-theme="light"] .token.inserted {
    color: #690;
}

[data-theme="light"] .token.operator,
[data-theme="light"] .token.entity,
[data-theme="light"] .token.url,
[data-theme="light"] .language-css .token.string,
[data-theme="light"] .style .token.string {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, 0.5);
}

[data-theme="light"] .token.atrule,
[data-theme="light"] .token.attr-value,
[data-theme="light"] .token.keyword {
    color: #07a;
}

[data-theme="light"] .token.function,
[data-theme="light"] .token.class-name {
    color: #dd4a68;
}

[data-theme="light"] .token.regex,
[data-theme="light"] .token.important,
[data-theme="light"] .token.variable {
    color: #e90;
}

/* ====================
   DARK THEME
   ==================== */

[data-theme="dark"] code[class*="language-"],
[data-theme="dark"] pre[class*="language-"] {
    color: #ccc;
}

[data-theme="dark"] pre[class*="language-"],
[data-theme="dark"] :not(pre) > code[class*="language-"] {
    background: #2d2d2d;
}

[data-theme="dark"] .token.comment,
[data-theme="dark"] .token.block-comment,
[data-theme="dark"] .token.prolog,
[data-theme="dark"] .token.doctype,
[data-theme="dark"] .token.cdata {
    color: #999;
}

[data-theme="dark"] .token.punctuation {
    color: #ccc;
}

[data-theme="dark"] .token.tag,
[data-theme="dark"] .token.attr-name,
[data-theme="dark"] .token.namespace,
[data-theme="dark"] .token.deleted {
    color: #e2777a;
}

[data-theme="dark"] .token.function-name {
    color: #6196cc;
}

[data-theme="dark"] .token.boolean,
[data-theme="dark"] .token.number,
[data-theme="dark"] .token.function {
    color: #f08d49;
}

[data-theme="dark"] .token.property,
[data-theme="dark"] .token.class-name,
[data-theme="dark"] .token.constant,
[data-theme="dark"] .token.symbol {
    color: #f8c555;
}

[data-theme="dark"] .token.selector,
[data-theme="dark"] .token.important,
[data-theme="dark"] .token.atrule,
[data-theme="dark"] .token.keyword,
[data-theme="dark"] .token.builtin {
    color: #cc99cd;
}

[data-theme="dark"] .token.string,
[data-theme="dark"] .token.char,
[data-theme="dark"] .token.attr-value,
[data-theme="dark"] .token.regex,
[data-theme="dark"] .token.variable {
    color: #7ec699;
}

[data-theme="dark"] .token.operator,
[data-theme="dark"] .token.entity,
[data-theme="dark"] .token.url {
    color: #67cdcc;
}

[data-theme="dark"] .token.inserted {
    color: green;
}

/* ====================
   COMMON TOKEN STYLES
   ==================== */

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/* ====================
   LINE NUMBERS PLUGIN
   ==================== */

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

/* ====================
   TOOLBAR PLUGIN
   ==================== */

div.code-toolbar {
    position: relative;
}

div.code-toolbar > .toolbar {
    position: absolute;
    z-index: 10;
    top: 0.3em;
    right: 0.2em;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

div.code-toolbar:hover > .toolbar,
div.code-toolbar:focus-within > .toolbar {
    opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
    display: inline-block;
    margin-left: 0.3em;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
    color: #bbb;
    font-size: 0.8em;
    padding: 0 0.5em;
    background: rgba(224, 224, 224, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    cursor: pointer;
    border: 0;
    font-family: inherit;
    line-height: 2;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
    background: transparent;
    overflow: visible;
    padding: 0 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
    color: inherit;
    text-decoration: none;
}

/* Dark theme adjustments for toolbar */
[data-theme="dark"] div.code-toolbar > .toolbar > .toolbar-item > a,
[data-theme="dark"] div.code-toolbar > .toolbar > .toolbar-item > button,
[data-theme="dark"] div.code-toolbar > .toolbar > .toolbar-item > span {
    color: #ccc;
    background: rgba(50, 50, 50, 0.5);
}
