bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.dbmdl
*.dbproj.user
*.jfm
TestResults/
*.pdb
*.cache
*.log
*.tlog
*.lastbuildstate
*.FileListAbsolute.txt
.idea/
.vscode/
publish/
/packages/
/src/**/Generated/
*.nuget.props
*.nuget.targets
_ReSharper*/
*.pyc
__pycache__/
Thumbs.db
.DS_Store

# Installer artifacts
*.msi
*.wixpdb
*.zip
*.msix
*.appx
AppPackages/
BundleArtifacts/
