<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MarkRead Viewer</title>
    <link rel="stylesheet" href="../assets/styles/base.css" />
    <link rel="stylesheet" href="../assets/highlight/styles/default.css" />
    <script defer src="../assets/highlight/highlight.min.js"></script>
    <script defer src="../assets/mermaid/mermaid.min.js"></script>
    <script defer src="../assets/scripts/render.js"></script>
</head>
<body class="theme-system">
    <div id="app">
        <main id="content" role="main"></main>
    </div>
</body>
</html>
